body {  background-color:mintcream;
        color:navy;
        font-family: Montserrat, sans-serif;
}
a {font-family:Montserrat, sans-serif;}

h1 {font-family:Righteous, Lengar, cursive;}
h3 {font-family:Lengar, Righteous, cursive;}

textarea {font-family:Montserrat, sans-serif;
        background-color:mintcream;
        color:navy;
}