.flexItem {
  padding:10px;
  margin: 10px;
  background-color: orange;
  color: black;
}
.flex {
  display: flex;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  /* Set the property display to flex below! */
}
#column {
  background-color: #b4e1ff;
  flex-direction: column;
  /* Set the property flex direction to column below! */
}
#row {
  background-color: #ffe79f;
  flex-direction: row;
/* Set the property flex-direction to row below! */
}
 
